@media only screen and (max-width: 1024px) {
  header .block-bar {
    display: block;
  }
  header .box-right {
    display: none;
  }
  #banner .text h1 + * {
    margin-top: 65px;
  }
  #categorias-moveis {
    padding: 30px 5px;
  }
  .sumir {
    display: none;
  }
  .aparecer {
    display: block;
  }
}
