@media only screen and (max-width:1100px) {
    .bt-dourado {
        height: 35px;
    }
    
    #sobre {
        padding: 27px 0 35px;
    
        .container-arrigo {
            justify-content: center;

            .image {
                display: none;
            }

            .text {
                text-align: center;
            }
            
            a {
                margin: 15px auto 0;
            }

            .box-sobre {
                padding-bottom: 0;
                margin: 0;
                h2 + * {
                margin-top: 5px;
                }
            }
        }
    }

    #depoimentos {
        padding-bottom: 30px;
    }

    #decorativos {
        padding-top: 30px;

        .image {
            display: none;
        }

        .container-arrigo {
            justify-content: center;

            .text {
                text-align: center;

                h2 + * {
                    margin: 5px auto 0;
                }

                p + * {
                    margin-top: 25px;
                }
            }
        }
    }

    
    footer {
        .container-arrigo {
            max-width: 1000px;

            .logo-footer {
                max-width: 212px;
            }

            .bt {
                width: 275px;
            }
        }
    }

}