@media only screen and (max-width: 1100px) {
  .bt-dourado {
    height: 35px;
  }
  #sobre {
    padding: 27px 0 35px;
  }
  #sobre .container-arrigo {
    justify-content: center;
  }
  #sobre .container-arrigo .image {
    display: none;
  }
  #sobre .container-arrigo .text {
    text-align: center;
  }
  #sobre .container-arrigo a {
    margin: 15px auto 0;
  }
  #sobre .container-arrigo .box-sobre {
    padding-bottom: 0;
    margin: 0;
  }
  #sobre .container-arrigo .box-sobre h2 + * {
    margin-top: 5px;
  }
  #depoimentos {
    padding-bottom: 30px;
  }
  #decorativos {
    padding-top: 30px;
  }
  #decorativos .image {
    display: none;
  }
  #decorativos .container-arrigo {
    justify-content: center;
  }
  #decorativos .container-arrigo .text {
    text-align: center;
  }
  #decorativos .container-arrigo .text h2 + * {
    margin: 5px auto 0;
  }
  #decorativos .container-arrigo .text p + * {
    margin-top: 25px;
  }
  footer .container-arrigo {
    max-width: 1000px;
  }
  footer .container-arrigo .logo-footer {
    max-width: 212px;
  }
  footer .container-arrigo .bt {
    width: 275px;
  }
}
