@media only screen and (max-width: 1200px) {
  .container-arrigo {
    max-width: 1150px;
  }
  header .box-right a + * {
    margin-left: 20px;
  }
  #beneficios {
    padding-bottom: 80px;
  }
  #beneficios .image-top-right,
  #beneficios .image-bottom-left {
    display: none;
  }
  #orcamento .bg .container-arrigo {
    justify-content: center;
  }
  #orcamento .bg form .image + * {
    margin-left: 0;
  }
  #orcamento .absolute-contato,
  #orcamento .image {
    display: none;
  }
}
