@media only screen and (max-width:1200px) {

    .container-arrigo {
        max-width: 1150px;
    }

    header {
        .box-right a + * {
            margin-left: 20px;
        }
    }

    #beneficios {
        padding-bottom: 80px;
        
        .image-top-right, .image-bottom-left {
            display: none;
        }
    }

    #orcamento {
        .bg {
            .container-arrigo {
                justify-content: center;
            
            }

            form {
                .image + * {
                    margin-left: 0;
                }
              }
        }

        
        .absolute-contato, .image {
            display: none;
        }
    }

}