@media only screen and (max-width:350px) {
    header {
        .container-arrigo {
            .logo-header {
                max-width: 162px;
            }
        }
    }

    #banner {
        .text {
            h1 {
                max-width: 302px;
            }

            h1 + * {
                margin-top: 30px;
            }
        }

        .bt.grande {
            height: 44px;
            width: 250px;
        }
    }
    
}