@media only screen and (max-width: 550px) {
  header .container-arrigo .logo-header {
    max-width: 212px;
  }
  #banner .bt.grande {
    width: 270px;
  }
  #banner .text h1 {
    max-width: 454px;
  }
  #banner .text h1 + * {
    margin-top: 25px;
  }
  #categorias-moveis {
    padding: 15px 5px;
  }
  #beneficios h2 {
    margin: auto;
    max-width: 443px;
  }
  #beneficios h2 + * {
    margin-top: 35px;
  }
  #categorias-moveis2 {
    padding: 15px 5px;
  }
}
