@font-face {
  font-family: 'kepler';
  src: url('../fonts/Kepler-Std-Bold_26102.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'kepler-italic';
  src: url('../fonts/Kepler-Std-Bold-Italic-Subhead_26091.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'metropolis';
  src: url('../fonts/metropolis.regular.otf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'metropolis-italic';
  src: url('../fonts/metropolis.regular-italic.otf') format('truetype');
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
}
[class*="-kepler"] {
  font-family: kepler;
}
[class*="-kepler-italic"] {
  font-family: kepler-italic;
}
[class*="-metropolis"] {
  font-family: metropolis;
}
[class*="-metropolis-italic"] {
  font-family: metropolis-italic;
}
.uppercase {
  text-transform: uppercase;
}
/*Font Weights----------------------------------------------------------*/
[class*="-bold"] {
  font-weight: 700;
}
[class*="-semibold"] {
  font-weight: 600;
}
[class*="-medium"] {
  font-weight: 500;
}
[class*="-regular"] {
  font-weight: 400;
}
[class*="-light"] {
  font-weight: 300;
}
[class*="-italic"] {
  font-style: italic !important;
}
[class*="titulo-1"] {
  font-size: 80px;
}
[class*="titulo-2"] {
  font-size: 64px;
}
[class*="titulo-3"] {
  font-size: 48px;
}
[class*="titulo-4"] {
  font-size: 32px;
}
[class*="titulo-5"] {
  font-size: 18px;
}
[class*="titulo-6"] {
  font-size: 16px;
}
[class*="paragrafo-1"] {
  font-size: 32px;
}
[class*="paragrafo-2"] {
  font-size: 18px;
}
[class*="paragrafo-3"] {
  font-size: 16px;
}
[class*="link-1"] {
  font-size: 20px;
}
[class*="link-2"] {
  font-size: 16px;
}
