:root {
  --caramelo: #bb9256;
  --cinza-escuro: #2d2d2d;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
[class*="container-juliano"] {
  max-width: 1580px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #292929;
}
.bt {
  max-width: 225px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  line-height: 28px;
  letter-spacing: 1.6px;
  padding: 21px 0;
}
.bt.full {
  max-width: 100%;
}
.bt.escuro {
  color: #bb9256;
  border-color: #bb9256;
  background-color: #2d2d2d;
}
.bt.claro {
  background-color: #bb9256;
  color: #2d2d2d;
}
header {
  position: absolute;
  top: 65px;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  z-index: 2;
}
header .logo {
  margin-right: 74px;
}
header .logo + * {
  margin-top: 43px;
}
header nav a {
  width: 250px;
  height: 48px;
  background-color: var(--caramelo);
  color: #f5f5f5;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}
header nav a + * {
  margin-top: 20px;
}
header nav a:hover {
  width: 275px;
  color: #f5f5f5;
}
.block-bar {
  width: 37px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.block-bar div {
  height: 3px;
  background-color: #fff;
  width: 100%;
}
.block-bar div + div {
  margin-top: 7px;
}
.block-bar {
  display: none;
}
#banner .bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-position: top;
}
#banner .bg::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(180deg, rgba(41, 41, 41, 0) 0%, #292929 100%);
}
#banner .bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 880px;
  height: 685px;
  background-image: radial-gradient(750px 375px at 115.68% 25.11%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
#banner .container-juliano {
  text-align: center;
  position: relative;
  z-index: 3;
  padding-bottom: 30px;
}
#banner .container-juliano .text-banner {
  margin-bottom: 60px;
}
#banner .container-juliano .scroll {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 32px;
}
#banner .container-juliano .scroll svg {
  max-width: 100%;
  max-height: 33px;
  stroke: #f5f5f5;
}
#sobre {
  padding: 90px 6.93vw 45px 0;
}
#sobre h2 {
  margin: 0 0 -42px 14.95vw;
  color: #bb9256;
}
#sobre .container-sobre {
  background-color: #1e1e1e;
  padding: 70px 4.84vw 0 0;
  display: flex;
}
#sobre .container-sobre .image {
  width: calc(100% - 420px);
  aspect-ratio: 1195/800;
  margin-bottom: -1.3vw;
}
#sobre .container-sobre .image img {
  aspect-ratio: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
#sobre .container-sobre .text {
  margin-left: 4.17vw;
  max-width: 420px;
  width: 100%;
  color: #fff;
  padding-top: 37px;
}
#sobre .container-sobre .text .text-bottom {
  color: #f5f5f5;
  display: flex;
}
#sobre .container-sobre .text .text-bottom .resultados {
  text-align: center;
}
#sobre .container-sobre .text .text-bottom .resultados h3 {
  line-height: 75px;
  margin-bottom: 0;
}
#sobre .container-sobre .text .text-bottom .resultados p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sobre .container-sobre .text .text-bottom .resultados + * {
  margin-left: 83px;
}
#sobre .container-sobre .text .text-bottom + * {
  margin-top: 75px;
}
#sobre .container-sobre .text .link {
  width: 206px;
  margin-bottom: 110px;
  margin-right: 308px;
}
#redes {
  position: relative;
}
#redes h2 {
  max-width: 640px;
  line-height: 64px;
  color: var(--caramelo);
  letter-spacing: 0.96px;
  text-align: center;
}
#redes .container-juliano {
  padding-top: 110px;
  padding-bottom: 62px;
}
#redes .container-juliano h2 {
  margin: 0 auto;
}
#redes .container-juliano h2 + * {
  margin-top: 10px;
}
#redes .container-juliano img {
  max-width: 548px;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}
#redes .container-juliano .box-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}
#redes .container-juliano .box-redes .text-right {
  margin-left: 12px;
}
#redes .container-juliano .box-redes .text-left {
  margin-right: -25px;
}
#redes .container-juliano .box-redes .text-left,
#redes .container-juliano .box-redes .text-right {
  max-width: 345px;
  width: 100%;
  padding-bottom: 30px;
  z-index: 2;
  position: relative;
}
#redes .container-juliano .box-redes .text-left p,
#redes .container-juliano .box-redes .text-right p {
  text-align: left;
  max-width: 300px;
  width: 100%;
  line-height: 28px;
  margin-bottom: 0;
}
#redes .container-juliano .box-redes .text-left p + *,
#redes .container-juliano .box-redes .text-right p + * {
  margin-top: 36px;
}
#redes .container-juliano .box-redes .bt {
  width: 100%;
}
#imoveis-disponiveis {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  position: relative;
  padding: 60px 0 50px 132px;
}
#imoveis-disponiveis .title {
  color: var(--caramelo);
  margin-bottom: -193px;
  z-index: 4;
  position: relative;
}
#imoveis-disponiveis .box-imoveis {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
#imoveis-disponiveis .box-imoveis .text {
  background-color: #1e1e1e;
  padding: 75px 93px 60px;
  margin: 0 -95px 100px 0;
  position: relative;
  z-index: 2;
  max-width: 688px;
  width: 100%;
}
#imoveis-disponiveis .box-imoveis .text h2,
#imoveis-disponiveis .box-imoveis .text h3,
#imoveis-disponiveis .box-imoveis .text p {
  margin-bottom: 0;
}
#imoveis-disponiveis .box-imoveis .text h3 {
  color: var(--caramelo);
}
#imoveis-disponiveis .box-imoveis .text h3 + * {
  margin-top: 14px;
}
#imoveis-disponiveis .box-imoveis .text h2 {
  letter-spacing: 3.2px;
}
#imoveis-disponiveis .box-imoveis .text h2 + * {
  margin-top: 25px;
}
#imoveis-disponiveis .box-imoveis .text .beneficios p + p {
  margin-top: 5px;
}
#imoveis-disponiveis .box-imoveis .text .beneficios + * {
  margin-top: 18px;
}
#imoveis-disponiveis .box-imoveis .text .price {
  color: var(--caramelo);
  letter-spacing: 3.2px;
}
#imoveis-disponiveis .box-imoveis .text .price + * {
  margin-top: 30px;
}
#imoveis-disponiveis .box-imoveis .text a {
  max-width: 250px;
}
#imoveis-disponiveis .box-imoveis .image {
  width: calc(100% - 688px + 133px);
}
#imoveis-disponiveis .box-imoveis .image img {
  width: 100%;
}
#imoveis-disponiveis .actions {
  margin-top: -68px;
  max-width: 590px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
}
#imoveis-disponiveis .actions * + * {
  margin-left: 47px;
}
#imoveis-disponiveis .nav {
  display: flex;
  align-items: center;
}
#imoveis-disponiveis .nav button:first-child {
  transform: rotate(-180deg);
}
#imoveis-disponiveis .nav button {
  background-color: transparent;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  position: relative;
}
#imoveis-disponiveis .nav button span {
  display: flex;
}
#imoveis-disponiveis .nav button svg {
  transition: 0.3s;
}
#imoveis-disponiveis .nav button.disabled svg {
  opacity: 0.8;
  transform: scale(0.5);
}
#imoveis-disponiveis .nav button.disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#imoveis-disponiveis .nav button + button {
  margin-left: 20px;
}
